<div class="bg-gray-100 overflow-x-hidden">
  <nav class="bg-white px-6 py-4 shadow">
    <div class="flex flex-col container mx-auto md:flex-row md:items-center md:justify-between">
      <div class="flex justify-between items-center">
        <div>
          <a href="/" class="text-gray-800 text-xl font-bold md:text-2xl">Worxy</a>
        </div>
      </div>
      <div class="md:flex flex-col md:flex-row md:-mx-4 hidden">
        <%= render '/shared/dashboard/links' %>
      </div>
    </div>
  </nav>

 