= link_to 'Nowe zlecenie', new_post_path, class: 'p-2 rounded hover:bg-gray-200'
= link_to 'Zlecenia', posts_path, class: 'p-2 rounded hover:bg-gray-200'
= link_to 'Wiadomości', conversations_path, class: 'p-2 rounded hover:bg-gray-200'
