<div class="mt-4 p-4 border rounded">
  <p class="font-semibold"><%= opinion.rater.first_name %> <%= opinion.rater.last_name %></p>
  <p class="text-gray-600">Rating: <%= opinion.stars %> Stars</p>
  <p class="text-gray-600"><%= opinion.comment %></p>
</div>
