databases:
  - name: mysite_db
    databaseName: better_fixly_production
    user: better_fixly
    plan: free

services:
  - type: web
    name: mysite
    runtime: ruby
    plan: free
    buildCommand: |
      bundle install
      ./bin/render-build.sh
      bundle exec rails assets:precompile
    preDeployCommand: |
      bundle exec rails db:create
      bundle exec rails db:migrate
      bundle exec rails db:seed
    startCommand: "bundle exec rails server"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysite_db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: WEB_CONCURRENCY
        value: 2 # sensible default
