<% post = @post %>

<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <% if post.images.attached? %>
    <%= image_tag post.images.first.variant(resize_to_fill: [300, nil]), class: "w-full" %>
  <% end %>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">
      <%= post.title %>
    </div>
    <p class="text-gray-700 text-base">
      <%= post.description %>
    </p>
  </div>
</div>
